@font-face {
  font-family: Montserrat;
  src: url('/static/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('/static/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('/static/fonts/Montserrat-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('/static/fonts/Montserrat-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Manrope;
  src: url('/static/fonts/manrope-bold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('/static/fonts/manrope-light.woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('/static/fonts/manrope-medium.woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('/static/fonts/manrope-regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('/static/fonts/manrope-semibold.woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url('/static/fonts/manrope-thin.woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: Wonder;
  src: url('/static/fonts/wonder-webfont.woff');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: 'Manrope', 'Helvetica';
  padding-right: 20px;
  padding-left: 20px;
}

a {
  font-family: Manrope;
  font-weight: 300;
  background-color: paleturquoise;
}

h1 {
  font-family: 'Manrope';
  font-weight: 700;
  font-size: 42px;
  text-align: center;
}

h2 {
  font-family: 'Manrope';
  font-size: 24px;
  text-align: center;
}

blockquote {
  font-family: 'Manrope';
  font-weight: 900;
  font-size: 24px;
  color: palevioletred;
  font-style: italic;
  text-align: center;
}

.authorName {
  color: palevioletred;
  text-align: center;
  padding-bottom: 20px;
}

.authorImage {
  text-align: center;
  width: 80;
}

.categoriesTop {
  color: peru;
  text-align: center;
  font-family: 'Manrope';
  font-weight: 500;
  font-size: 18px;
  font-style: bold;
}

figure {
  flex: content;
  padding-left: 0 !important;
}

img {
  width: 100%;
  height: auto;
}

article {
  padding-left: 20;
  padding-right: 20;
}
