@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'Playfair Display', serif;
  src: url('/fonts/PlayfairDisplay-Black.ttf');
  // font-weight: normal;
  // font-style: normal;
}

* {
  // background: black;
}

html {
  height: 100%;
}

body {
  font-size: 100%;
  // color: paleturquoise;
  color: darkslategrey;
}

p {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  font: 16px/25px georgia, 'times new roman', serif;
}

a {
  color: #ff8661;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 42px;
  text-align: center;
}

h2 {
  text-align: center;
}

blockquote {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 24px;
  color: palevioletred;
  font-style: italic;
  text-align: center;
}

.authorName {
  color: palevioletred;
  text-align: center;
  padding-bottom: 20px;
}

.authorImage {
  text-align: center;
  width: 80;
}

.categoriesTop {
  color: peru;
  text-align: center;
}

figure {
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

img {
  width: 100%;
  height: auto;
  // max-width: 400px;
}
